<main id="projectView">
 

</main>

<script>
    const state = {
        project: {{{project}}},
        users: [],
        dragging: null
        //grab lists in the server
    } 
    </script>

<script src="/project.js"></script>